.idea/misc.xml
.idea/vcs.xml
*.vec
paraph/.vector_cache/wiki.simple.vec.pt
*.pyc
paraph/t_bbe.csv
.idea/paraphraser_pytorch.iml
dist/paraphrasing-1.0.0-py3.6.egg
paraph/t_ylt.csv
.idea/modules.xml
.idea/workspace.xml
paraph/t_wbt.csv
paraphrasing.egg-info/SOURCES.txt
paraphrasing.egg-info/PKG-INFO
paraphrasing.egg-info/dependency_links.txt
paraphrasing.egg-info/requires.txt
paraphrasing.egg-info/top_level.txt